#navbar {
    height: 8vh;
    background: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5%;
}

.link {
    color: white;
    text-decoration: none;
}

#right_link {
    margin-right: 5%;
}

#button {
    background: none;
    color: white;
    border: none;
    margin-right: 60px;
    cursor: pointer;
}